# Homework | module 3 > week 10 > day 24 <hr style="border:4.5px solid #108999"> </hr>

## Strings

1. Assign the value of 80 to the variable `d`.

In [2]:
d = 80

2. Using the variable `d`, write one line of code where the output after execution is "Around the World in 80 Days" (hint: there are several ways to achieve this result).

In [8]:
print(f'Around the World in {d} days')

Around the World in 80 days

3. Write a string that says "It's hot, don't you think?"

In [18]:
"It's hot, don't you think?"

"It's hot, don't you think?"

4. Fix the cell below so that it becomes a string.

In [20]:
"Don't be shy"

"Don't be shy"

5. Produce an output equal to *Click "OK"*.

In [22]:
print('Click "OK"')

Click "OK"

<hr style="border:5px solid #108999"> </hr>

## Numbers and Boolean Operators

1. Create a variable equal to "True" and call it `b`. Then check its type.

In [30]:
b = True
type(b)

bool

2. Create a variable equal to 42 and call it `x`. Then check its type

In [40]:
x = 42 
type(x)
print(x)

42

3. Check the type of the value 3.14. Then turn it into an integer and write the result as a comment.

4. Verify that 25 is smaller than 30. Then verify that 10 multiplied by 3 is less than or equal to 10 to the power of 3.

5. Verify that 100 is equal to 10 square. Then verify that 42 is not equal to 314.

In [42]:
42 == 314

False

6. Using the operators `True`, `False`, `not` and `is` exactly once, generate a `True` output.

## Arithmetic operators

1. Add 34 and 26, from the result subtract 50. Then assign this operation to a variable and call it `y`.

2. Divide 60 by the sum of `y` and 5.

3. Divide `y` by 4. Then obtain the **remainder** of the division.

4. Raise 35 to the power of 4.

5. Take the square root of 1764.

## Variables & assignment

1. Create a variable, call it `z` and assign it a value of 10. Then show the value of the variable on the screen.

2. Using one line of code, create three new variables: `one`, `two` and `three`, that are equal to 10, 20 and 30 respectively.

In [48]:
one, two, three = 10, 20, 30
print(one)
print(two)
print(three)

10
20
30

3. Tell Python to output the sum of the three variables.

4. Using the three variables from above, output the value "102030" as a string.

5. Assign the value of 10 to a variable `w` and, in the same cell, print `w` on the screen. Then multiply `w` by 10.

6. Now, assign 30 to the variable `w`. Then calculate `w` + 10. Notice how the value of `w` changes and is always the last one you have assigned.

## Indexing elements

1. Using string indexing, extract the letter 'B' from "Boolean".

2. Using string indexing, extract the substring "lean" from "Boolean".

3. Using string indexing, extract the exclamation mark from "Hello World!".

4. Using string indexing, extract the substring "UAE" from the following text: "Israel signs first Arab free trade agreement with UAE."

In [50]:
text = "Israel signs first Arab free trade agreement with UAE."

In [54]:
text[-4:-1]

'UAE'