# Formação Cientista de Dados
Prof. Fernando Amaral

## Dicionários

In [226]:
#dicionários: estrutura chave/valor
# VÊM ENTRE CHAVES {} E SÃO SEPARADOS AS KEYS SÃO SEPARADOS POR DOIS PONTOS (:) DO VALUE
Notas = {'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}
print(Notas) #PRINTA O DICIONÁRIO

{'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}

In [209]:
print(Notas['João']) #POSSO IMPRIMIR UMA CHAVE
#QUAL A NOTA DE JOÃO?

6.0

{'João': 6.0, 'Maria': 8.0, 'Pedro': 6.5}

In [141]:
#Todas as CHAVES DO DICIONÁRIO
Notas.keys()

dict_keys(['João', 'Maria', 'Pedro'])

In [143]:
#todos os VALORES DO DICIONÁRIO
Notas.values()

dict_values([6.0, 8.0, 6.5])

In [145]:
#Testa logicamente a existência
print('João' in Notas) #ME RESPONDE SE AQUELA CHAVE ESTÁ NO DICIONÁRIO
print('Fernando' in Notas)

True
False

In [147]:
#SERVE PARA DIZER SE O VALOR TAMBÉM ESTÁ?
print(6.0 in Notas)
#PARECE QUE NÃO

False

### APAGA UM ELEMENTO

In [150]:
del Notas['João']
print(Notas)

{'Maria': 8.0, 'Pedro': 6.5}

In [152]:
del Notas['Pedro']
print(Notas)

{'Maria': 8.0}

### INCLUIR ELEMENTO NO DICIONÁRIO

In [156]:
#inclui um elemento
Notas['Ana'] = 9
print(Notas)

{'Maria': 8.0, 'Ana': 9}

In [166]:
#SE EU QUISER SABER QUEM TEM O VALOR 8?
# print(Notas[8.0]) DÁ ERRO

In [172]:
Notas['Rafael'] = float(10)
print(Notas)
type(Notas['Rafael'])

{'Maria': 8.0, 'Ana': 9, 'Rafael': 10.0}

float

In [176]:
#busca um valor, se não encontrar mostra segundo parametro
Notas.get('Geraldo',"Não encontrado!")

'Não encontrado!'

In [188]:
Notas.get('Pedro', 'Foi excluído!!!')

'Foi excluído!!!'

## SETS

In [79]:
#sets são conjuntos NÃO ORDENADOS de elementos NÃO REPETIDOS

bigdata = {'Spark', 'Hive', "Sqoop"}
print(bigdata)

{'Hive', 'Spark', 'Sqoop'}

In [81]:
#verifica existência
print('Spark' in bigdata)

True

In [192]:
#adiciona elemento

bigdata.add('Hadoop')
bigdata

# DIFERENTE DE ADICONAR NO DICIONÁRIO 
# NO DICIONÁRIOS NomeDoDicionário['KEY'] = VALUE
# NO SET EU USO O MÉTODO NomeDoSet.ADD('VALUE')

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

In [194]:
#número de elementos

print(len(bigdata)) #RETORNA A QUANTIDADE DE ELEMENTOS, CONTAGEM COMEÇA COM 1

4

In [198]:
bigdata.add("Spark")
bigdata
# NÃO ADICIONOU ELEMENTO REPETIDO!! - NO SET NÃO PODE HAVER VALORES REPETIDOS
# NOTE QUE MUDOU A ORDEM DOS ELEMENTOS PARA ALFABÉTICA CRESCENTE
# SÃO ELEMENTOS NÃO ORDENADOS, POR ISSO MUDAM A ORDEM MESMO QUE EU NÃO PEÇA

{'Hadoop', 'Hive', 'Spark', 'Sqoop'}

## TUPLAS

In [201]:
# tuplas são LISTAS que NÃO PODEM SER ALTERADAS
# listas usam [], tuplas usam ()
tupla = (1,2,3,4,5,6,7)
tupla

(1, 2, 3, 4, 5, 6, 7)

In [203]:
tupla[4] # INDEXADA EM ZERO, A CONTAGEM COMEÇA COMO ELEMENTO ZERO, 1, 2, 3, 4, 5 e 6, NESTE CASO.

5

In [93]:
#dicionários em que cada posição recebe uma tupla
dic2 = {(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4,(5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}
dic2

{(0, 1): 0,
 (1, 2): 1,
 (2, 3): 2,
 (3, 4): 3,
 (4, 5): 4,
 (5, 6): 5,
 (6, 7): 6,
 (7, 8): 7,
 (8, 9): 8,
 (9, 10): 9}

In [95]:
print(type(Notas))
print(type(bigdata))
print(type(tupla))

<class 'dict'>
<class 'set'>
<class 'tuple'>

In [215]:
dic3 = {(0, 'oi'): 2, (1, 'tchau'): 3, (4, 5): 4,(5, 6): 5, (6, 7): 6}
dic3

{(0, 'oi'): 2, (1, 'tchau'): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6}

In [217]:
# TUPLAS ACEITAM, COMO AS LISTAS, VALORES DE TIPOS DIFERENTES
# NO EXEMPLO DE CIMA TEMOS STR E INT

### LISTAS = LIST = [ ] 
ORDENADA, PODE TER VALORES REPETIDOS, PODE SER MODIFICADA
### DICIONÁRIOS = DICT = {'KEY': VALUE}
NÃO RETORNA VALOR SE PROCURAR POR INDEX, PODE TER VALORES REPETIDOS, PODE SER MODIFICADA
### SETS = SET = {VALUE}
NÃO TEM ORDEM, NÃO PODE CONTER VALORES REPETIDOS, PODE SER MODIFICADO
### TUPLAS = TUPLE = ( )
SÃO LISTAS QUE NÃO PODEM SER MODIFICADAS