In [2]:
print("Ola Sr.{1} {0}".format("Cordeiro","Leonardo")) #se quiser imprimir o segundo parâmentro primeiro

Ola Sr.Leonardo Cordeiro

### imprimir um float

In [5]:
print("R$ {:f}".format(1.59))

R$ 1.590000

In [6]:
print("R$ {:.2f}".format(1.59))

R$ 1.59

In [8]:
print("R$ {:7.2f}".format(1234.50))

R$ 1234.50

In [11]:
print("R$ {:7.2f}".format(1.5))
print("R$ {:.2f}".format(1.59))
print("R$ {:07.2f}".format(1.5))

R$    1.50
R$ 1.59
R$ 0001.50

In [12]:
print("R$ {:07d}".format(4))

R$ 0000004

In [13]:
print("Data {:02d}/{:02d}".format(9, 4))

Data 09/04

In [16]:
nome = 'Matheus'
print(f'Meu nome é {nome}')

Meu nome é Matheus

In [18]:
nome = 'Matheus'
print(f'Meu nome é {nome.lower()}')

Meu nome é matheus